<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzwCZ6N9RThCiUeWaflUZXbt6xSTkjI_A</string>
	<key>GCM_SENDER_ID</key>
	<string>360034523548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.puggs.wordsGameApp</string>
	<key>PROJECT_ID</key>
	<string>catch-word-61f66</string>
	<key>STORAGE_BUCKET</key>
	<string>catch-word-61f66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360034523548:ios:445a4b14033c6868dd1059</string>
</dict>
</plist>